The dataset below is the last output dataset in MTNN.ipynb

The procedure here is to estimate the treatment effect using a dataset that has already handled missing values and calculated a propensity score

In [56]:
ds<-read.csv(paste0("./data_lalonde/data_lalonde_ps_MAR_0.5_1.csv"), header=T)

In [57]:
head(ds)

  treat age educ race married nodegree re74 re75 re78       age_new  educ_new
1 1     37  11   1    1       1        NA    0    9930.0460 36.87897  9.269598
2 1     22   9   2    0       1        NA   NA    3595.8940 22.05885  9.031122
3 1     30  12   1    0       0         0    0   24909.4500 29.31231 12.618760
4 1     27  11   1    0       1         0    0    7506.1460 26.43169  9.749158
5 1     33   8   1    0       1         0    0     289.7899 31.44560  8.361331
6 1     22   9   1    0       1        NA    0    4056.4940 22.53935  9.000480
  race_new  married_new  nodegree_new re74_new    re75_new    PS
1 1.0103177  0.992788414 0.939356134  2508.958620  104.619616 0.4196384
2 2.0103756  0.002382094 1.005831651  2433.479138  783.582575 0.3355244
3 0.9870983 -0.004868895 0.006270865    -7.819524    1.717361 0.5666518
4 0.9823333 -0.004816264 0.962854037  -138.173065 -220.540460 0.6154658
5 0.9905948  0.001515544 1.015936556  -219.375419   -5.255533 0.6132265
6 1.0028630 -0.005338326 1.003013183  1809.601285  252.258533 0.6006557

Missing value imputation

In [58]:
ds[["re74"]][is.na(ds[["re74"]])]<-ds[["re74_new"]][is.na(ds[["re74"]])]
ds[["re75"]][is.na(ds[["re75"]])]<-ds[["re75_new"]][is.na(ds[["re75"]])]

In [59]:
head(ds)

  treat age educ race married nodegree re74     re75     re78       age_new
1 1     37  11   1    1       1        2508.959   0.0000  9930.0460 36.87897
2 1     22   9   2    0       1        2433.479 783.5826  3595.8940 22.05885
3 1     30  12   1    0       0           0.000   0.0000 24909.4500 29.31231
4 1     27  11   1    0       1           0.000   0.0000  7506.1460 26.43169
5 1     33   8   1    0       1           0.000   0.0000   289.7899 31.44560
6 1     22   9   1    0       1        1809.601   0.0000  4056.4940 22.53935
  educ_new  race_new  married_new  nodegree_new re74_new    re75_new
1  9.269598 1.0103177  0.992788414 0.939356134  2508.958620  104.619616
2  9.031122 2.0103756  0.002382094 1.005831651  2433.479138  783.582575
3 12.618760 0.9870983 -0.004868895 0.006270865    -7.819524    1.717361
4  9.749158 0.9823333 -0.004816264 0.962854037  -138.173065 -220.540460
5  8.361331 0.9905948  0.001515544 1.015936556  -219.375419   -5.255533
6  9.000480 1.0028630 -0.005338326 1.003013183  1809.601285  252.258533
  PS
1 0.4196384
2 0.3355244
3 0.5666518
4 0.6154658
5 0.6132265
6 0.6006557

In [60]:
ds$PS[ds$treat==0]<-1-ds$PS[ds$treat==0]

Estimation of the effect

In [61]:
fit<-lm(re78 ~ treat + age + educ + race + married + nodegree + 
              re74 + re75, data = ds, weights = I(1/PS))

In [62]:
summary(fit)

Call:
lm(formula = re78 ~ treat + age + educ + race + married + nodegree +
    re74 + re75, data = ds, weights = I(1/PS))

Weighted Residuals:
   Min     1Q Median     3Q    Max
-36227  -6753  -1880   4988  69112

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -2787.8492  2565.6450  -1.087  0.27764
treat         783.5393   614.2495   1.276  0.20259
age            38.8005    33.5581   1.156  0.24805
educ          518.3447   164.6420   3.148  0.00172 **
race          624.0507   329.1381   1.896  0.05843 .
married      1178.5586   658.9197   1.789  0.07418 .
nodegree      531.9250   853.9522   0.623  0.53359
re74            0.1560     0.1136   1.374  0.17004
re75            0.3839     0.2311   1.661  0.09717 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9210 on 605 degrees of freedom
Multiple R-squared:  0.06389,	Adjusted R-squared:  0.05151
F-statistic: 5.161 on 8 and 605 DF,  p-value: 3.019e-06